<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name%>'>
  <div id="banner">
      <div id="logodiv"> <%= image_tag("logo.png") %> </div>
      <%= @page_title || "SCU Book Store" %>
      <% if session[:user_id] %>
        <div id="login_button"><%= link_to 'LOGOUT', logout_path, method: :delete %> </div>
      <% else %>
        <div id="login_button"><%= link_to 'LOGIN', login_path %></div>
      <% end %>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
          <% unless @cart.blank?%>
            <%unless session[:user_id] %>

              <%= render @cart %>
            <%end%>
          <%end%>
        </div>
        <% if session[:user_id] %>
          <ul>
            <li><%= link_to 'Orders',   orders_path   %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users',    users_path    %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete   %>
        <% end %>
      </div>
      <div id="main">
        <div style="margin-left: 20%">
        </div>

          <%= yield %>

      </div>
    </div>
</body>
</html>
